@import 'sass/helpers/variables';
$floatLeft: right;
$floatRight: left;
$textLeft: right;
$textRight: left;

// start header
.header{
    .logo{
        @media #{$minMeduim} {
          width: 30%;
          float: $floatLeft;
          text-align: $textLeft;
        }
        .btnToggle{
            right: auto;
            left: 15px;
        }
    }
    .navbar{
        @media #{$minMeduim} {
          float: $floatLeft;
        }
        li{
            float: $floatLeft;
            text-align: $textLeft;

        }
    }
}

// end header

// start services

.services{
    .service-item{
        @media #{$minMeduim} {
            float: $floatLeft;
        }
        h3{
            i{
              margin-left: 5px;
            }
        }
    }
}

// end services



// start players

.players{
    .player-item{
        @media #{$minSmall}{
            float: $floatLeft;
        }
        @media #{$minMeduim}{
            text-align: $textLeft;
        }
    }
}

// end players

// start lorem
.lorem{
    margin-bottom: 20px;
  .lorem-item{
        @media #{$minSmall} {
            float: $floatLeft;
        }
  }
}
// end lorem

// start footer

.footer{
    .latest{
        float: $floatLeft;
        .latest-item{
            .footer-img{
                @media #{$minSmall} {
                    float: $floatLeft;
                }
            }
            .latest-info{
                @media #{$minSmall}{
                    float: $floatLeft;
                }
            }
        }
    }
    .company{
        float: $floatLeft;
    
    }
    .contact{
        float: $floatLeft;
        
    }
    .copyright{
        .domain{
           float: $floatLeft;
        }
        .template{
           float: $floatRight;
        } 
    }
}

// end footer
