* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  margin: auto;
  padding-right: 15px;
  padding-left: 15px; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.clearFix {
  clear: both; }

@media (max-width: 767px) {
  .text-center-xs {
    text-align: center; } }

body {
  font-family: "tahoma";
  font-size: 16px; }
  body ul {
    list-style: none;
    padding: 0; }
  body a {
    text-decoration: none; }

.header {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
  overflow: hidden; }
  .header .logo {
    position: relative; }
    @media (min-width: 768px) {
      .header .logo {
        width: 100%;
        float: none;
        text-align: center; } }
    @media (min-width: 992px) {
      .header .logo {
        width: 30%;
        float: left;
        text-align: left; } }
    .header .logo h1 {
      margin-top: 10px;
      margin-bottom: 0; }
  .header .navbar {
    overflow: hidden;
    background-color: #E2494C;
    border-radius: 10px; }
    @media (min-width: 768px) {
      .header .navbar {
        width: 100%;
        float: none;
        margin-top: 30px;
        display: block !important; } }
    @media (min-width: 992px) {
      .header .navbar {
        width: 70%;
        float: left;
        margin-top: 1em; } }
    @media (max-width: 767px) {
      .header .navbar {
        display: none;
        border-radius: 0; } }
    .header .navbar li {
      width: 16.6666%;
      float: left;
      text-align: center; }
      @media (max-width: 767px) {
        .header .navbar li {
          display: block;
          float: none;
          width: 100%;
          text-align: left;
          padding-left: 10px;
          padding-right: 10px; } }
      .header .navbar li a {
        color: #fff;
        padding: 15px 10px;
        display: block; }
        .header .navbar li a:hover {
          color: #ddd; }

.heading {
  position: relative; }
  .heading h2 {
    margin: 30px auto;
    width: 300px;
    background-color: #E2494C;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 19px; }
    .heading h2::before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: #D2D2D2;
      position: absolute;
      top: 50%;
      left: 0;
      z-index: -1; }

.genralBtn {
  border: 0;
  height: 40px;
  width: 150px;
  background: rgba(226, 73, 76, 0.8);
  color: #fff;
  border-radius: 8px;
  font-size: 18px;
  text-transform: unset;
  cursor: pointer; }
  .genralBtn:hover {
    background-color: #E2494C; }

.btnToggle {
  background: #E2494C;
  width: 50px;
  height: 40px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 0;
  position: absolute;
  top: 20px;
  right: 0px;
  display: none; }
  @media (max-width: 767px) {
    .btnToggle {
      display: block; } }
  .btnToggle i {
    color: #fff;
    line-height: 40px; }

.slider blockquote {
  text-align: center;
  width: 70%;
  line-height: 1.8;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: #4c4b4b;
  margin: 20px auto; }
.slider .img-container {
  height: 300px; }
  .slider .img-container img {
    width: 100%;
    height: 100%; }
.slider .bullets {
  text-align: center;
  margin: 8px 0 0; }
  .slider .bullets li {
    height: 15px;
    width: 15px;
    background: #D2D2D2;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #D2D2D2;
    cursor: pointer;
    transition: all 0.5s; }
    .slider .bullets li.active, .slider .bullets li:hover {
      background-color: #fff;
      border: 2px solid #333; }

@media (min-width: 992px) {
  .services .service-item {
    float: left;
    width: 33.3333333333%; }
    .services .service-item:not(:last-of-type) {
      padding-right: 20px; } }
@media (max-width: 767px) {
  .services .service-item i {
    display: block;
    margin-bottom: 15px; } }
.services .service-item h3 {
  text-transform: capitalize;
  font-size: 18px;
  color: #3a3838; }
  .services .service-item h3 i {
    font-size: 30px;
    margin-right: 5px; }
.services .service-item p {
  color: #777777;
  line-height: 1.5;
  margin-bottom: 10px; }
.services .service-item a {
  color: #E2494C;
  font-size: 15px; }

@media (min-width: 768px) {
  .players .player-item {
    float: left;
    width: 50%;
    text-align: center;
    margin-bottom: 30px; } }
@media (min-width: 992px) {
  .players .player-item {
    width: 33.3333333333%;
    text-align: left;
    padding-right: 20px;
    padding-left: 20px; } }
@media (min-width: 1200px) {
  .players .player-item {
    width: 25%; } }
@media (max-width: 767px) {
  .players .player-item {
    margin-bottom: 30px; } }
.players .player-item img {
  max-width: 100%; }
.players .player-item h3 {
  text-transform: capitalize;
  font-size: 18px;
  color: #3a3838; }
  .players .player-item h3 span {
    font-weight: normal; }
.players .player-item p {
  color: #777777;
  line-height: 1.5;
  margin-bottom: 10px; }
.players .player-item a {
  color: #E2494C;
  font-size: 15px; }

.lorem {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .lorem .lorem-item {
      float: left;
      width: 31.3333333333%; }
      .lorem .lorem-item:not(.last) {
        margin-right: 3%; } }
  @media (max-width: 767px) {
    .lorem .lorem-item {
      margin-bottom: 20px; } }
  .lorem .lorem-item img {
    max-width: 100%; }

.footer {
  background-color: #e2e2e2;
  padding-top: 20px; }
  .footer .latest {
    float: left; }
    @media (min-width: 768px) {
      .footer .latest {
        width: 100%; } }
    @media (min-width: 992px) {
      .footer .latest {
        width: 50%; } }
    .footer .latest .f-title {
      color: #333;
      text-transform: capitalize;
      margin: 0; }
    .footer .latest .latest-item {
      padding: 20px 0; }
      .footer .latest .latest-item .footer-img {
        width: 25%;
        margin: auto; }
        @media (min-width: 768px) {
          .footer .latest .latest-item .footer-img {
            float: left;
            margin-right: 2%;
            margin-left: 2%; } }
        @media (max-width: 767px) {
          .footer .latest .latest-item .footer-img {
            width: 50%; } }
        .footer .latest .latest-item .footer-img img {
          width: 100%;
          height: 100%; }
      @media (min-width: 768px) {
        .footer .latest .latest-item .latest-info {
          float: left;
          width: calc(100% - 29%); } }
      .footer .latest .latest-item .latest-info h4 {
        color: #E2494C; }
      .footer .latest .latest-item .latest-info P {
        line-height: 1.5;
        color: #888; }
  .footer .company {
    float: left; }
    @media (min-width: 768px) {
      .footer .company {
        width: 50%; } }
    @media (min-width: 992px) {
      .footer .company {
        width: 25%; } }
    @media (max-width: 767px) {
      .footer .company {
        width: 100%;
        margin: auto; } }
    .footer .company .f-title {
      color: #333;
      text-transform: capitalize;
      margin: 0; }
    .footer .company .info-list li {
      line-height: 1.5; }
      .footer .company .info-list li a {
        color: #888; }
    .footer .company .contact-list li {
      line-height: 1.5;
      color: #888; }
      .footer .company .contact-list li span {
        color: #E2494C; }
    .footer .company .hours-list li {
      line-height: 1.5;
      color: #888; }
      .footer .company .hours-list li:first-child {
        font-weight: bold; }
  .footer .contact {
    float: left; }
    @media (min-width: 768px) {
      .footer .contact {
        width: 50%; } }
    @media (min-width: 992px) {
      .footer .contact {
        width: 25%; } }
    .footer .contact .f-title {
      color: #333;
      text-transform: capitalize;
      margin: 0; }
    .footer .contact input {
      border: 0;
      height: 40px;
      width: 100%;
      border-radius: 8px;
      padding: 5px;
      margin: 10px 0; }
    .footer .contact textarea {
      border: 0;
      width: 100%;
      border-radius: 8px;
      height: 120px;
      margin: 10px 0; }
  .footer .copyright {
    overflow: hidden;
    color: #888;
    margin-top: 15px; }
    .footer .copyright .domain {
      float: left; }
      @media (max-width: 767px) {
        .footer .copyright .domain {
          float: none !important; } }
    .footer .copyright .template {
      float: right; }
      @media (max-width: 767px) {
        .footer .copyright .template {
          float: none !important; } }
    .footer .copyright:before {
      content: "";
      display: block;
      height: 2px;
      background-color: #ccc; }

/*# sourceMappingURL=main.css.map */
