@media (min-width: 992px) {
  .header .logo {
    width: 30%;
    float: right;
    text-align: right; } }
.header .logo .btnToggle {
  right: auto;
  left: 15px; }
@media (min-width: 992px) {
  .header .navbar {
    float: right; } }
.header .navbar li {
  float: right;
  text-align: right; }

@media (min-width: 992px) {
  .services .service-item {
    float: right; } }
.services .service-item h3 i {
  margin-left: 5px; }

@media (min-width: 768px) {
  .players .player-item {
    float: right; } }
@media (min-width: 992px) {
  .players .player-item {
    text-align: right; } }

.lorem {
  margin-bottom: 20px; }
  @media (min-width: 768px) {
    .lorem .lorem-item {
      float: right; } }

.footer .latest {
  float: right; }
  @media (min-width: 768px) {
    .footer .latest .latest-item .footer-img {
      float: right; } }
  @media (min-width: 768px) {
    .footer .latest .latest-item .latest-info {
      float: right; } }
.footer .company {
  float: right; }
.footer .contact {
  float: right; }
.footer .copyright .domain {
  float: right; }
.footer .copyright .template {
  float: left; }

/*# sourceMappingURL=main-rlt.css.map */
