.genralBtn{
    border: 0;
    height: 40px;
    width: 150px;
    background: rgba($mainColor , 0.8);
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    text-transform: unset;
    cursor: pointer;
    &:hover{
        background-color: $mainColor;
    }
}

.btnToggle{
    background: $mainColor;
    width: 50px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: 0;
    position: absolute;
    top: 20px;
    right: 0px;
    display: none;
    @media #{$maxMobile} {
        display: block;
    }
    i{
      color: #fff;
      line-height: 40px;
    }
}