.heading{  
    position: relative;
    h2{
        margin: 30px auto;
        width: 300px;
        background-color: #E2494C;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        font-weight: 200;
        text-transform: uppercase;
        font-size: 19px;
        &::before{
            content: "";
            width: 100%;
            height: 2px;
            background-color: $grayColor;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: -1;
        }
    }
}