@mixin  meduim {
    @media (min-width:992px) {
      @content;
    }
}

@mixin overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin  prefixer($prop,$value,$prefixers:()) {
  @each $prefixer in $prefixers {
    #{ '-' + $prefixer + '-' + $prop}: $value;
  }
  #{$prop} : $value;
}
