$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMeduim: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";
$mainColor: #E2494C;
$grayColor: #D2D2D2;

$floatLeft: left;
$floatRight: right;

$textLeft: left;
$textRight: right;