.footer{
    background-color: #e2e2e2;
    padding-top: 20px;
    .latest{
        float: $floatLeft;
        @media #{$minSmall} {
            width: 100%;
        }
        @media #{$minMeduim} {
            width: 50%;
        }
        .f-title{
            color: #333;
            text-transform: capitalize;
            margin: 0;
         }
        .latest-item{
            padding: 20px 0;
            .footer-img{
                @media #{$minSmall} {
                    float: $floatLeft;
                    margin-right: 2%;  
                    margin-left: 2%;  
                }
                @media #{$maxMobile} {
                    width: 50%; 
                }
                width: 25%;
                margin: auto;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .latest-info{
                @media #{$minSmall}{
                    float: $floatLeft;
                    width: calc(100% - 29%);
                }
                h4{
                    color: $mainColor;
                }
                P{
                    line-height: 1.5;
                    color: #888;
                }
            }
        }
    }
    .company{
        float: $floatLeft;
        @media #{$minSmall} {
            width: 50%;
        }
        @media #{$minMeduim} {
            width: 25%;
        }
        @media #{$maxMobile} {
            width: 100%;
            margin: auto;
        }
        .f-title{
            color: #333;
            text-transform: capitalize;
            margin: 0;
        }
        .info-list{
            li{
                line-height: 1.5;
                a{
                    color: #888;
                }
            }
        }
        .contact-list{
            li{
                line-height: 1.5;
                color: #888;
                span{
                    color: $mainColor;
                }
            }
        }
        .hours-list{
            li{
                line-height: 1.5;
                color: #888;
                &:first-child{
                    font-weight: bold;
                }
            }
            
        }
    
    }
    .contact{
        float: $floatLeft;
        @media #{$minSmall} {
            width: 50%;
        }
        @media #{$minMeduim} {
            width: 25%;
        }
        .f-title{
            color: #333;
            text-transform: capitalize;
            margin: 0;
        }
        input{
            border: 0;
            height: 40px;
            width: 100%;
            border-radius: 8px;
            padding: 5px;
            margin: 10px 0;
        }
        textarea{
            border: 0;
            width: 100%;
            border-radius: 8px;
            height: 120px;
            margin: 10px 0;
        }
        
    }
    .copyright{
        overflow: hidden;
        color: #888;
        margin-top: 15px;
        .domain{
           float: $floatLeft;
           @media #{$maxMobile} {
            float: none !important;
           }
        }
        .template{
           float: $floatRight;
           @media #{$maxMobile} {
            float: none !important;
           }
        }
      &:before{
          content: "";
          display: block;
          height: 2px;
          background-color: #ccc;
      }  
    }
}