*{
    @include prefixer(box-sizing , border-box , webkit moz o ms);
}
.container{
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;

    @media #{$minSmall} {
        width: 750px;
    }

    @media #{$minMeduim} {
        width: 970px;
    }

    @media #{$minLarge}{
        width: 1170px;
    }
}

.clearFix{
    clear: both;
}

.text-center-xs{
    @media #{$maxMobile} {
        text-align: center;
    }
}