.header{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    .logo{
      position: relative;
        // start media for logo
        @media #{$minSmall} {
          width: 100%;
          float: none;
          text-align: center;
        }
        @media #{$minMeduim} {
          width: 30%;
          float: $floatLeft;
          text-align: $textLeft;
        }
      h1{
        margin-top: 10px;
        margin-bottom: 0;
      }
      p{

      }
    }
    .navbar{
        overflow: hidden;
        background-color: $mainColor;
        border-radius: 10px;
        // start media for navber
        @media #{$minSmall} {
          width: 100%;
          float: none;
          margin-top: 30px;
          display: block !important;
        }
        @media #{$minMeduim} {
          width: 70%;
          float: $floatLeft;
          margin-top: 1em;
        }
        @media #{$maxMobile} {
          display: none;
          border-radius: 0;
        }
        li{
            width: 16.6666%;
            float: $floatLeft;
            text-align: center;
            @media #{$maxMobile} {
              display: block;
              float: none;
              width: 100%;
              text-align: $textLeft;
              padding-left: 10px;
              padding-right: 10px;
            }
          a{
            color: #fff;
            padding: 15px 10px;
            display: block;
            &:hover{
                color: #ddd;
            }
          }
        }
    }
}