// start slider
.slider{
    blockquote{
        text-align: center;
        width: 70%;
        line-height: 1.8;
        font-style: italic;
        font-weight: bold;
        font-size: 18px;
        color: #4c4b4b;
        margin: 20px auto;
    }
    .img-container{
        height: 300px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .bullets{
        text-align: center;
        margin: 8px 0 0;
        li{
            height: 15px;
            width: 15px;
            background: $grayColor;
            border-radius: 50%;
            display: inline-block;
            border: 2px solid $grayColor;
            cursor: pointer;
            transition: all 0.5s;
            &.active,
            &:hover{
                background-color: #fff;
                border: 2px solid #333;
            }
        }
    }
}
// end slider

// start services

.services{
    .service-item{
        @media #{$minMeduim} {
            float: $floatLeft;
            width: (100% / 3);
            &:not(:last-of-type){
                padding-right: 20px;
            }
        }
        @media #{$maxMobile} {
            i{
                display: block;
                margin-bottom: 15px;
            }
        }
        h3{
            text-transform: capitalize;
            font-size: 18px;
            color: #3a3838;
            i{
              font-size: 30px;
              margin-right: 5px;
            }
        }
        p{
          color: #777777;
          line-height: 1.5;
          margin-bottom: 10px;
        }
        a{
          color: $mainColor;
          font-size: 15px;
        }
    }
}

// end services



// start players

.players{
    .player-item{
        @media #{$minSmall}{
            float: $floatLeft;
            width: (100% / 2);
            text-align: center;
            margin-bottom: 30px;
        }
        @media #{$minMeduim}{
            width: (100% / 3);
            text-align: $textLeft;
            padding-right: 20px;
            padding-left: 20px;
        }
        @media #{$minLarge}{
            width: (100% / 4);
        }
        @media #{$maxMobile}{
            margin-bottom: 30px;
        }
        img{
            max-width: 100%;
        }
        h3{
            span{
                font-weight: normal;
            }
            text-transform: capitalize;
            font-size: 18px;
            color: #3a3838;
            
        }
        p{
          color: #777777;
          line-height: 1.5;
          margin-bottom: 10px;
        }
        a{
          color: $mainColor;
          font-size: 15px;
        }
    }
}

// end players

// start lorem
.lorem{
    margin-bottom: 20px;
  .lorem-item{
        @media #{$minSmall} {
            &:not(.last){
                margin-right: 3%;
            }
            float: $floatLeft;
            width: (94% / 3);
        }
        @media #{$maxMobile} {
          margin-bottom: 20px;
        }
      img{
          max-width: 100%;
      }
  }
}
// end lorem
